{% block content %}
Hello {{ username }},
Thank you for registering a Wall App account.
This e-mail has been automatically sent by the Wall App Account Management System.
{% endblock content %}

{% block footer %}
Kind regards,
Wall App Team-
{% endblock footer %}